.bn-container{
  padding: 0 45px;
  background-color: transparent !important;
}
.bn-block-group{
  background-color: transparent !important;
}
.bn-shadcn .bn-editor{
  padding: 0;
  background-color: transparent !important;
}
.bn-block-content {
  margin: 0.5em 0;
}
.bn-block-content[data-content-type="checkListItem"], .bn-block-content[data-content-type="bulletListItem"] {
  margin: 0;
}